.overview {
    background-color: #E8DBC5;
    color: #485C3F;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
  }
  
  .overview h3 {
    font-size: 18px;
  }
  
  .overview p {
    margin: 10px 0;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    background-color: #344e41;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3f624b;
  }
  
  /* Ensure h4 is inline with the following text */
h4 {
  display: inline-block; /* Makes the heading inline */
  margin-right: auto; /* Optional: Adds some spacing between the heading and text */
}