/* Main container layout */
.register-container {
  display: flex;
  height: 100%;
}

/* Register form container */
.register-form-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

/* Register form styling */
.register-form {
  background-color: #d9c8a5;
  padding: 25px;
  border-radius: 8px;
  width: 400px;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Title styling for the register form */
.register-form h2 {
  color: #3a5b45;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: left;
}

/* Input field styling */
.register-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Button styling */
.register-form button[type="submit"] {
  width: 10rem;
  padding: 15px 40px;
  margin-top: 20px;
  margin-right: 0;
  background-color: #3a5b45;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
}

.register-form button[type="submit"]:hover {
  background-color: #324a3a;
}

.register-form button[type="submit"]:disabled {
  background-color: #a1a1a1;
}

/* Message styling */
.register-message {
  color: #3a5b45;
  margin: 0;
  text-align: center;
  font-style: italic;
}

/* Styling for the 'Back to Login' button in Register */
.register-back-button {
  background: none;
  color: #3a5b45; /* Matching the text color of the link buttons */
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  padding: 0!important;
  width: fit-content;
}

.register-back-button:hover {
  text-decoration: underline; /* Underline on hover like the link buttons in Login */
  background:none;
}