/* Sidebar Styles */
.sidebar {
  background-color: #3a5b45;
  width: 15%; 
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  color: #FFF4E9;
  padding: 30px;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

/* Sidebar Heading */
.sidebar h1 {
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  margin: 0;
}

.sidebar .page-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 10px 0 20px 0;
}

/* Sidebar Navigation */
.sidebar nav {
  margin: 0;
  padding: 0;
  margin-top: 20px; /* Set distance from the heading */
  margin-bottom: auto;
}

/* Sidebar Navigation Links */
.sidebar nav button {
  display: block;
  margin: 10px 0 25px auto; /* Adds space between links */
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: underline;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

/* Sign Out Button Style */
.signout {
  padding: 10px;
  margin-top: 30px; /* Adds margin-top to position sign-out button below nav */
  margin-bottom: 50px;
  margin-left: auto;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
  opacity: 100%!important;
}

.sidebar button {
  background: none;
  color: #FFF4E9!important;
  border: none;
  margin-left: auto;
}

.sidebar .active {
  opacity: 100%;
}

.sidebar button:not(.active) {
  opacity: 30%;
  transition-duration: 0.1s;
}

.sidebar button:not(.active):hover {
  opacity: 100%;
  transition-duration: 0.1s;
}