.upcoming-shifts {
  background-color: #E8DBC5;
  color: #485C3F;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  }
  
  .upcoming-shifts h3 {
    font-size: 18px;
  }
  
  .upcoming-shifts ul {
    list-style-type: none;
    padding: 0;
  }
  
  .upcoming-shifts li {
    margin-bottom: 10px;
  }
  