{{define "subject"}} Reset Password on Thyme Flies {{end}}

{{define "body"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body> <p>Hi,</p>
    <p>If you have requested a password reset, please follow the link.</p>>
    <p><a href="{{.ResetURL}}">{{.ResetURL}}</a></p>
    <p>If you want to reset your password manually copy and paste the code from the link above</p>
    <p>If you didn't request a password reset for Thyme Flies, you can safely ignore this email.</p>
    <p>The token is valid for <strong>1 hour</strong>.</p>

    <p>Thanks,</p>
    <p>The Thyme Flies Team</p>
  </body>
</html>

{{end}}